body {
  background:#000;
}

div.container {
  background: url('../img/background.png') no-repeat center center;
  height:1000px;
  margin-top:-100px;
}

.link-holder {
  position:relative;
  height:467px;
  margin-top:300px;
}

.link-holder a {
  display:block;
  position:absolute;
  bottom:0;
  left:30%;
}
